.logo-container {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.logo-container p {
    font-size: 0.5em;
    color: white;
}

.logo-container img {
    margin: 10px 0 10px 2.4em;
}